@import './fonts'
@import './common'    
@import './variables'
.main__banner
    margin-top: 86px
    @include displayElements( flex, flex-start , center,)
    background-color: #1C62CD
    padding: 28px 123px 14px 71px

.bunner__description
     @include font( 'SFProDisplay' ,38px, 700, none, left, #fff )
     line-height: 36px
     margin-left: 40px

.bunner__button 

   .main__button
    background-color: #fff
    @include font( 'SFProDisplay' ,24px, 500, uppercase, right, #2F3035 )
    line-height: 50px
    padding: 0 41px
    margin-left: 50px
