@import './fonts'
@import './common'    
@import './variables'

.footer
    background-color: #F0F0F4
 

.footer__info 
    @include displayElements( flex, space-between, center)
    margin-top: 98px
    padding-top: 42px
    padding-bottom: 27px 

.footer__subscription
    margin-top: 14px
   

.form .form__input-subscription
    margin-top: 34px
    width: 201px
    padding-top: 8px
    padding-bottom: 10px
    padding-left: 12px
    @include font( 'SFProDisplay' ,14px, 400, none, left, #2F3035 )
    background-color: #fff  
       
.form__icon
    display: none
.subscription__text
    @include font( 'SFProDisplay' ,14px, 700, none, center, #2F3035 )
    line-height: 17px 

    
   
.form .form__button-subscription
     @include font( 'SFProDisplay' ,14px, 400, none,left, #ffff )
      
     right: -70px
     top: 33px
     padding: 10px 16px

     .footer__menu
        margin-top: 20px
       
.menu__title
     @include font( 'SFProDisplay' ,14px, 700, none,left, #2F3035 )


.footer__contacts
      @include displayElements( flex, flex-start, center)
   

.footer__menu
    margin-top: 20px

.footer__icon
    margin-left: 50px
    :hover
        cursor: pointer


.footer__conditionality
    @include displayElements( flex, center, center)
    margin-top: 46px
    
.conditionality__text
    @include font( 'SFProDisplay' ,14px, 400, lowercase,left, #48494D )
    padding-bottom: 27px
    text-align: center

.conditionality__text:nth-child(1)
    margin-right: 100px

.conditionality__text:nth-child(2)
    margin-right: 20px    


@media (max-width: 576px)
     .footer
        background-color: #fff
     .footer__info
        align-items: baseline
        margin-top: 83px
      
        
     .footer__conditionality 
        white-space: nowrap
        flex-direction: column 
        align-items: baseline
    


    

@media (max-width: 1192px)
    .footer__info
        flex-direction: column
        align-items: baseline
        
    .menu__items-footer
        display: none
    .footer__icon
        margin-left: 30px
    .footer__icon:nth-child(1)
        margin-left: 50px   

    .footer__contacts
        margin-top: 61px
    .menu__title
        color: #7F7F7F
        font-weight:500
    .form .form__button-subscription
        display: block
    .form__icon
        display: block
        position: absolute
        top: 13px
        right: 15px
        


