@import './fonts'
@import './common'    
@import './variables'

.footer
    background-color: #F0F0F4
 

.footer__wrapper 
    @include displayElements( flex, space-arount , center,)
    margin-top: 98px
    padding-top: 42px 


.footer__subscription 
    margin-top: 34px
   

.form .form__input-subscription
    margin-top: 34px
    width: 201px
    
    @include font( 'SFProDisplay' ,14px, 400, none, left, #2F3035 )  
       

.subscription__text
    @include font( 'SFProDisplay' ,14px, 700, none, center, #2F3035 )
    line-height: 17px 

    
   
.form .form__button-subscription
     @include font( 'SFProDisplay' ,14px, 400, none,left, #ffff )
      
     right: -70px
     top: 33px
     padding: 16px 16px

     
       
