@import './fonts'
@import './common'    
@import './variables'



.search__filters
    margin-top: 80px


.navigation__items-filters
    @include font( 'SFProDisplay' ,20px, 400, lowercase, center, $header_top_color )

.navigation__item-filterActiv
    background-color: #F0F0F4
    padding: 11px 26px 12px 26px
    font-weight: 700
    border-radius: 5px
