@import './fonts'
@import './common'    
@import './variables'

.stocks__wrapper
    @include displayElements( flex ,space-between , start)
    margin-top: 81px

     


.slider
    width: 870px
    overflow: hidden
    position: relative
    
.slider-products
    width: 1150px
    margin-top: 30px
    padding-right: 50px


    

.slider__row
    position: relative
    display: flex
   


.slider__trigers
    position: absolute
    display: flex
    bottom: 40px
    left: 50%
    transform: translate(-50%)
    z-index: 2
    
.trigers__item--active
    margin-left: 0
    background-color:#fff    


.trigers_item
    margin-left: 9px
    width: 11px
    height: 11px
    border-radius: 50%
    border: 1px solid #fff
    &:hover
        cursor: pointer
   

    
.slider__arrow
    position: absolute
    z-index: 3
    top: 50%
    transform: translateY(-50%)
    img
        width: 100%

    &:hover
        cursor: pointer

.slider__arrow--left
    left: 23px
.slider__arrow--right 
    right: 14.87px
.slider__blackArrow--left
    left: 0

.slider__blackArrow--right
    right: 0
.sale__wrapper
    border-radius: 3px
    border: 1px solid #CDCDCD
   

.sale__header
     @include displayElements( flex ,space-between , start)
     padding-right: 4px


        
.saleHeader_text--stocks
     @include font( 'ProximaNova' ,12px, 500, uppercase, center, #fff )
     padding: 8px 19.31px 8.8px 20px
     background-color: #1C62CD
     line-height: 15px
     letter-spacing: 0.1em


.saleHeader__price
     @include font( 'Barlow' ,27px, 700, uppercase, center, #1C62CD )


     

.sale__img
    text-align: center
    margin-top: 36px

     
            
      


.saleHeader__oldPrice
    text-align: right 
    position: relative
    margin-top: 7px
    display: flex
    justify-content: flex-end
    line-height: 17px
    @include font( 'Barlow' ,14px, 400, lowercase, none, #C4C4C4 )

.oldPrice__text
    margin-top: 3px
       
.oldPrice__img
    margin-left: 3.93px
    padding-right: 4px
    margin-top: 2px

.saleHeader__oldPrice
    &::before
        content: ' '
        position: absolute
        content: ' '
        width: 60px
        height: 0.5px
        background-color: #C4C4C4
        transform: rotate(-5.33deg)
        top: 8px
        right:4px

.sale__title
    @include font( 'SFProDisplay',18px, 700, none, center, $header_top_color )
    margin-top: 4.31px

       
.sale__top
    margin-top: 7px
    background-color:  #F0F0F4
    padding: 41px 36px 48px 40px
   
     
    

.sale__description 
     @include font( 'SFProDisplay',21px, 400, none, center, $header_top_color )
     


.sale__date 
    @include font( 'Barlow',18px, 700, none, center, #1C62CD )
    line-height: 22px



       


