@import './fonts'
@import './common'    
@import './variables'

.stocks__wrapper
    @include displayElements( flex ,space-between , start)
    margin-top: 81px

     


.slider__row
    position: relative
     width: 100px
    overflow: hidden


.slider__item 
    width:100%
    height:100%
    


.slider__trigers
    position: absolute
    display: flex
    bottom: 40px
    left: 50%
    transform: translate(-50%)
    
.trigers__item--active
    margin-left: 0
    background-color:#fff    


.trigers_item
    margin-left: 9px
    width: 11px
    height: 11px
    border-radius: 50%
    border: 1px solid #fff
    &:hover
        cursor: pointer
   

    
.slider__arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    img
        width: 100%

    &:hover
        cursor: pointer

.slider__arrow--left
    left: 23px
.slider__arrow--right 
    right: 14.87px



.sale__header
     @include displayElements( flex ,space-between , start)
        
.saleHeader_text--stocks
     @include font( 'ProximaNova' ,12px, bold, uppercase, center, #fff )
     padding: 8px 19.31px 8.8px 20px
     background-color: #1C62CD
     line-height: 15px
     letter-spacing: 0.1em


.saleHeader__price

     @include font( 'Barlow' ,27px, 700, uppercase, center, #1C62CD )


.saleHeder__currency
    position: relative
    &::before
        @include lineBefore(8.48px, 2px, #1C62CD, 7.5px, 2px)
    &::after
        @include lineafter(8.48px, 2px, #1C62CD, 12px,none )
     

  
            
      



